body {
  min-width: 320px;
  margin: 0;
  font-family: $font-primary;
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  line-height: 1.29;
  color: $color-primary;
  background-color: #f7e611;
}


.container {
  @include width-block(320px);
  overflow: hidden;
  position: relative;
}

img {
  min-width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  body {
    background: linear-gradient(to bottom right, #f7e611, #ffffff);

  }


  .container {
    @include width-block(768px);
    height: 775px;
  }
}



@media (min-width: $desktop-width) {
  body {
    background: #ffffff;
  }


  .container {
    @include width-block(1440px);
    height: 800px;
    background: linear-gradient(to right, #fefefe 0%, #fefefe 50%, #ffffff 50% #ffffff 100%);
  }
}
