body {
  min-width: 320px;
  margin: 0;
  font-family: $font-primary;
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  line-height: 1.29;
  color: $color-primary;
  background-color: #f7e611;
}


.container {
  @include width-block(320px);
  overflow: hidden;
  position: relative;
}
