body {
  min-width: 320px;
  margin: 0;
  font-family: $font-primary;
  font-size: 25px;
  font-weight: normal;
  text-align: left;
  line-height: 1.29;
  color: $color-primary;
  background-color: #f7e611;
}

.container {
  @include width-block(320px);
  overflow: hidden;
  position: relative;
}

img {
  min-width: 100%;
  height: 100%;
}

@media (min-width: $tablet-width) {
  body {
    background: linear-gradient(to bottom right, #f7e611, #ffffff);
  }

  .container {
    @include width-block(768px);
    height: 775px;
  }
}

@media (min-width: $desktop-width) {
  body {
    background: transparent;
  }

  .container {
    @include width-block(1440px);
    height: 800px;
    background: transparent;
    &::before {
      z-index: -12;
      content: "";
      position: absolute;
      bottom: 0;
      left: 82px;

      width: 900px;
      height: 810px;

      background-color: transparent;

      box-shadow: 0 0 57px rgba(#000000, 0.1);
    }

    &::after {
      z-index: -5;
      content: "";
      position: absolute;
      top: 0;
      right: 0;

      width: 50%;
      height: 800px;

      background-color: #ffffff;

      box-shadow: 0 0 57px rgba(#000000, 0.1);
    }
  }
}
