@font-face {
  font-family: "Geometria";
  src: url("../Geometria-Thin.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-ThinItalic.otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-ExtraLight.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-ExtraLightItalic.otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-Light.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-LightItalic.otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria.otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-Italic.otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-Medium.otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-MediumItalic.otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-Bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-BoldItalic.otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-ExtaBlack.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-ExtraBlackItalic.otf");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: "Geometria";
  src: url("../Geometria-Heavy.otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../Geometria-HeavyItalic.otf");
  font-weight: 800;
  font-style: italic;
}



@font-face {
  font-family: "Philosopher", serif;
  src: url("../fonts/Philosopher-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Philosopher";
  src: url("../fontsPhilosopher-Italic.ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;

}

@font-face {
  font-family: "Philosopher";
  src: url("../Philosopher-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;

}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}
