@font-face {
  font-family: "Geometria";
  src:  url("../fonts/Geometria-Thin.woff") format("woff"), url("../fonts/Geometria-Thin.otf") format("otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ThinItalic.woff") format("woff"), url("../fonts/Geometria-ThinItalic.otf") format("otf");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraLight.woff") format("woff"), url("../fonts/Geometria-ExtraLight.otf") format("otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraLightItalic.woff") format("woff"), url("../fonts/Geometria-ExtraLightItalic.otf") format("otf");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Light.woff") format("woff"), url("../fonts/Geometria-Light.otf") format("otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-LightItalic.woff") format("woff"), url("../fonts/Geometria-LightItalic.otf") format("otf");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria.woff") format("woff"), url("../fonts/Geometria.otf") format("otf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Italic.woff") format("woff"), url("../fonts/Geometria-Italic.otf") format("otf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Medium.woff") format("woff"), url("../fonts/Geometria-Medium.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-MediumItalic.woff") format("woff"), url("../fonts/Geometria-MediumItalic.otf") format("otf");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Bold.woff") format("woff"), url("../fonts/Geometria-Bold.otf") format("otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-BoldItalic.woff") format("woff"), url("../fonts/Geometria-BoldItalic.otf") format("otf");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtaBlack.woff") format("woff"), url("../fonts/Geometria-ExtaBlack.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-ExtraBlackItalic.woff") format("woff"), url("../fonts/Geometria-ExtraBlackItalic.otf") format("otf");
  font-weight: 700;
  font-style: italic;
}


@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-Heavy.woff") format("woff"), url("../fonts/Geometria-Heavy.otf") format("otf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Geometria";
  src: url("../fonts/Geometria-HeavyItalic.woff") format("woff"), url("../fonts/Geometria-HeavyItalic.otf") format("otf");
  font-weight: 800;
  font-style: italic;
}



@font-face {
  font-family: "Philosopher", serif;
  src: url("../fonts/Philosopher-Regular.woff") format("woff"), url("../fonts/Philosopher-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Italic.woff") format("woff"), url("../fonts/Philosopher-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
  font-display: swap;

}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-BoldItalic.woff") format("woff"), url("../fonts/Philosopher-BoldItalic.ttf") format("ttf");
  font-weight: 700;
  font-style: italic;
  font-display: swap;

}

@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Bold.woff") format("woff"), url("../fonts/Philosopher-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;

}
