.letters {
  @include list-style();
  display: flex;
  justify-content: space-between;

  width: 189px;
  height: 172px;
  top: 43px;
  left: 68px;

  font-size: 60px;
  font-family: $font-secondary;
  font-weight: 500;

  position: absolute;
}

.letters__item {
  &--a {
    align-self: flex-end;
    z-index: 10;
  }

  &--e {
    align-self: flex-start;
    z-index: 10;
  }

  &--g {
    top: 76px;
    left: 80px;

    position: absolute;
    z-index: 2;
  }
}

@media (min-width: $tablet-width) {
  .letters {
    width: 150px;
    height: 261px;
    top: 300px;
    left: 75px;

    font-size: 70px;
  }

  .letters__item {
    &--a {
      align-self: flex-start;
    }

    &--e {
      top: 81px;
      left: 177px;

      position: absolute;
      z-index: 0;
    }

    &--g {
      align-self: flex-end;

      position: static;
      z-index: 9;
    }
  }
}

@media (min-width: $desktop-width) {
  .letters {
    top: -68px;
    left: auto;
    right: 312px;

    font-size: 80px;
  }
}

