.numbers {
  position: relative;
  width: 100%;
  height: 0;
}

.numbers__list,
.numbers__number,
.numbers__ural,
.numbers__item-fraction--denominator {
  display: none;
}

.numbers__list,
.numbers__list-fraction {
  @include list-style();
}

.numbers__list-fraction {
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;

  border: 52px solid transparent;
  border-right: 52px solid $bg-color;
  border-bottom: 52px solid $bg-color;

  position: absolute;
  z-index: 10;
}

.numbers__item-fraction {
  &--numerator {
    margin-left: 10px;
    margin-top: 7px;

    font-family: $font-secondary;
    font-style: italic;
    font-size: 20px;
    letter-spacing: 5px;
  }
}


@media (min-width: $tablet-width) {
  .numbers__ural {
    display: block;
    width: 100px;
    height: 100px;
    bottom: 350px;
    left: 35px;
    padding: 30px 30px 30px 25px;

    font-size: 17px;
    font-family: $font-secondary;
    color: rgb(39, 37, 37);
    text-transform: uppercase;
    line-height: 1.2;
    text-align: left;
    letter-spacing: 1px;

    background: url("../img/ellipse.png") no-repeat;

    position: absolute;
    z-index: 22;
}

  .numbers__list-fraction {
    width: 120px;
    height: 200px;
    bottom: 38px;
    right: 80px;
    padding: 100px 25px 28px 26px;
    box-sizing: border-box;

    font-family: $font-secondary;
    font-style: italic;

    background-color: $bg-color;
    border: none;

  }

  .numbers__item-fraction {
    &--numerator {
      font-size: 45px;
      letter-spacing: 8px;
      margin: 0;
      position: relative;

      &::before {
        content: "";
        position: absolute;

        width: 17px;
        height: 3px;
        bottom: 10px;
        left: 50px;

        background-color: #000;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .numbers__list,
  .numbers__number,
  .numbers__item-fraction--denominator {
    display: block;
    position: absolute;
    z-index: 22;
  }

  .numbers__list,
  .numbers__list-fraction {
    @include list-style();
  }

  .numbers__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 95px;
    top: -495px;
    left: 143px;

    font-size: 12px;
    font-family: $font-secondary;
    color: rgb(0, 0, 0);
    line-height: 1.2;
    text-align: left;
    letter-spacing: 3px;
  }

  .numbers__number {
    top: -554px;
    left: 473px;
    transform: rotate(270deg);

    font-size: 28px;
    font-family: $font-secondary;
    color: rgba(0, 0, 0, 0.502);
    line-height: 1.2;
    text-align: left;
    letter-spacing: 8px;
  }

  .numbers__ural {
    top: -461px;
    left: 507px;

    color: rgb(255, 255, 255);
  }

  .numbers__list-fraction {
    width: 140px;
    height: 380px;
    bottom: 38px;
    right: 195px;
    padding: 290px 25px 28px 26px;
  }

  .numbers__item-fraction {
    &--denominator {
      margin-left: 50px;

      font-size: 17px;
      font-family: $font-secondary;
      color: rgb(0, 0, 0);
      font-style: italic;
      line-height: 0.3;
    }
  }
}
