.page-main__container {
  @include width-block(320px);
  position: relative;
}

.page-main__title {
  display: none;
}

.page-main__text {
  font-size: 9px;
  color: rgba(0, 0, 0, 0.5);
  font-family: $font-primary;
  font-weight: 400;
  font-style: italic;
  text-transform: lowercase;

  transform: rotate(270deg);
  text-transform: lowercase;

  &--task {
    display: none;
  }

  &--slogan {
    margin: 0;
    left: -20px;
    top: 158px;

    position: absolute;
    z-index: 10;
  }
}

.page-main__rect {
  top: -133px;
  right: -148px;
  transform: rotate(90deg);

  position: absolute;
  z-index: -1;
}

.page-main__rect svg {
  width: 400px;
  height: 210px;
}

@media (min-width: $tablet-width) {
  .page-main__container {
    @include width-block(768px);
    padding: 0 15px;
  }

  .page-main__title {
    display: block;
    left: calc(50% + 27px);
    top: 117px;
    transform: translateX(-50%);

    font-size: 80px;
    color: $color-secondary;
    line-height: 1.2;
    font-weight: 400;
    letter-spacing: 30.4px;
    text-align: center;

    position: absolute;
    z-index: 12;
  }

  .page-main__text {
    &--task {
      display: block;
      left: -55px;
      top: calc(50% - 5px);
      transform: translateY(-50%) rotate(270deg);

      font-size: 12px;
      font-family: $font-secondary;
      color: rgba(129, 62, 62, 0.6);
      font-style: italic;
      letter-spacing: 0.8px;
      line-height: 1.2;

      position: absolute;
      z-index: 10;
    }

    &--slogan {
      margin: 0;
      left: 270px;
      top: 490px;

      color: rgba(0, 0, 0, 0.7);
      font-size: 9px;

      position: absolute;
      z-index: 10;
    }
  }

  .page-main__rect {
    top: -100px;
    right: auto;
    left: 337px;
    transform: rotate(270deg);

    z-index: 1;
  }

  .page-main__rect svg {
    width: 200px;
    height: 282px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__container {
    @include width-block(1440px);
    padding: 0 80px 0 80px;

  }

  .page-main__title {
    top: 121px;
    font-size: 140px;
    letter-spacing: 50.4px;
  }

  .page-main__text {
    &--task {
      left: -32px;
      color: rgba(0, 0, 0, 0.4);
    }

    &--slogan {
      left: 284px;
      top: 380px;

      color: rgba(0, 0, 0, 0.5);
    }
  }

  .page-main__rect {
    top: 165px;
    right: auto;
    left: 339px;
    transform: rotate(0deg);

    z-index: 10;
  }
}
