.animation__current {
  animation: current 1s ease-in forwards;
}

.animation__next {
  animation: next 1s ease-out forwards;
}

@keyframes current {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes next {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
