$font-primary: "Philosopher", "Georgia", serif;
$font-secondary: "Geometria", "Arial", sans-serif;

$color-primary: #000000;
$color-secondary: #ffffff;

$bg-color: #f7e611;

$tablet-width: 768px;
$desktop-width: 1440px;


@mixin width-block($width) {
  width: $width;
  margin: 0 auto;
  box-sizing: border-box;
}

@mixin list-style() {
  list-style: none;
  margin: 0;
  padding: 0;
}
